<footer class="footer">
    <div class="footer__inner">
        <div class="footer__content">
            <a class="dbox-donation-button" style="background: #20d9ba url(https://d1iczxrky3cnb2.cloudfront.net/red_logo.png) no-repeat 18px;color: #fff;text-decoration: none;font-family: Verdana,sans-serif;display: inline-block;font-size: 16px;padding: 10px 16px;padding-left: 56px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;box-shadow: 0 2px 0 0 #169681;text-shadow: 0 2px rgba(0, 0, 0, 0.3);" href="https://donorbox.org/guardiome?default_interval=o">Donate</a>
        </div>
    </div>
    <br>
    <div class="footer__inner">
        <div class="footer__content">
            <span>&copy; {{ now.Format "2006" }}</span>
            {{ if .Site.Author.name }}
                <span><a href="{{ .Site.BaseURL }}">{{ .Site.Author.name }}</a></span>
            {{ end }}
        </div>
    </div>
</footer>
